.product-item-wrapper-div{
  padding: 20px;
  border: 20px;
}

.product-item-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.product-status {
  color: red;
}

.product-status-greed {
  color: green;
}